/*navigation styling*/
header {
    background-color: #ffffff;
    width: 100%;
    font-family: 'Cinzel', serif;
}

nav {
    overflow: hidden;
    background-image: url('../../assets/images/rainbow.png');
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    border-bottom: solid;
    border-width: 3px;
    border-color: #41639b;
}

ul.nav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    position: relative;
    top: 0;
    width: 80%;
    background-color: #ffffff;
}

li.nav {
    float: right;
    margin-top: 40px;
}

li.nav a {
    display: block;
    padding: 25px;
    text-decoration: none;
    color: #10203a;
}

li.nav a:hover {
    background-color: #41639b;
    color: #ffffff;
}

h1 {
    background-color: #41639b;
    color: #ffffff;
    font-weight: bolder;
    font-size: 25px;
    padding: 21px;
    margin: 0;
}

#floatleft {
    float: left;
    margin-top: 35px;
}

/*body styling*/
body {
    background-image: url('../images/marble.jpg');
    background-repeat: repeat-y repeat-x;
    background-color: purple;
    height: 100%;
    overflow: scroll;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.left {
    width: 600px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #ddeaff;
}

.right {
    width: 300px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    background-color: #ddeaff;
}

h2 {
    color: #10203a;
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0px 20px 0px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #41639b;
}

/*about me styling*/
#bio-image {
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px 20px 10px 10px;
}

p {
    color: #10203a;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    line-height: 1.5em;
    padding: 10px 0px 0px 10px
}

/*connect with me styling*/
ul.connect {
    padding: 0;
    position: relative;
    top: 0;
    width: fit-content;
}

li.connect {
    float: right;
    margin: auto;
    padding: 10px;
}

/*portfolio stying*/
table, tr, td {
    border: none;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

img {
    height: 300px;
    width: 400px;
    padding: 10px;
}

img:hover {
    opacity: 0.5;
}

.caption {
    position: relative;
}

.textalign {
    position: absolute;
    bottom: 60px;
    left: 20px;
    width: 400px;
    background-color: #41639b;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Josefin Slab', serif;
    padding: 20px 0px 20px 0px;
}

/*contact me styling*/
label {
    font-family: 'Cinzel', serif;
    color: #10203a;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    background-color: #41639b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#message{
    height: 150px;
}

/*footer styling*/
footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-image: url('../../assets/images/rainbow.png');
    background-color: #666666;
    color: darkslategrey;
    border-top: solid;
    border-width: 10px;
    border-color: #41639b;
    text-align: center;
    padding: 20px 20px 5px 20px;
}

@media only screen and (max-width: 640px) {
    .flex-container {
        display: flex;
        flex-flow: row wrap;
    }
}